{% extends 'miapp/home.html' %}





    {% block contenido %}
    <div>
         <p>hola me llamo Lucas Sorzio estudio en la utn sistemas me interesa mucho seguir aprendiendo mas del desarrollo web he hecho cursos en otras plataforma y este de python es mi segundo curso de coder les dejo los link al video y al git del tp</p>
    
        <h3>  <a href="https://github.com/spawnew/Sorzio-Lucas-50200/">Link al github</h3>

                <h3>  <a href="https://drive.google.com/file/d/1ltcQxSlUQh4lBTCdnMlmgbZiNBqUy_S9/view?usp=sharing">Link al drive con el video</h3>
        
        
                    <h3>  <a href="https://docs.google.com/spreadsheets/d/1v01v9FtSGJlkxDwtna9UV8JrjLoosTea/edit?usp=drive_link&ouid=103639298822751632690&rtpof=true&sd=true">Link a los test </h3>
</div>
{% endblock contenido %}