{%extends 'miapp/home.html'%}




{% block titulo %}
<h2>compras</h2>

{% endblock titulo %}
{% block contenido %}

<table>
    <tr>
      
        <td>
            <a
            href="{% url 'create_ordencompra' %}"
            class="btn btn-danger btn-sm"
            >Agregue una compra <i class="fa fa-plus fa-lg" title="New Record"> </i>
            </a>
        </td>
    </tr>
</table>

<table class="table table-striped ">
    <thead>
        <tr>
            <th class="titulo" style="color:white ">Nombre</th>
            <th style="color:white ">precio</th>
            <th style="color:white ">medio de pago</th> 
           
            

            
            
            
        </tr>
    </thead>
    <tbody>
    {% for c in ordencompra_list %}
    <tr>
        
        <td style="color:white ">{{ c.nombre }}</td>
        <td style="color:white ">{{ c.precio }}</td>
        <td style="color:white ">{{ c.mediopago }}</td>
       
        
   
     
    
        
        <td>
            <a
            href="{% url 'comprarealizada'   %}"
            class="btn btn-secondary"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            >comprar<i class="fa fa-edit fa-sm" title="Edit Record"></i>
          </a>
            <a
              href="{% url 'update_oferta'  c.id  %}"
              class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              >Modificar<i class="fa fa-edit fa-sm" title="Edit Record"></i>
            </a>
            <a
              href="{% url 'delete_oferta' c.id %}"
              class="btn btn-danger"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              >Borrar<i class="fa fa-trash fa-sm" title="Delete Record"></i>
            </a>
          </td>        
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}
