{%extends 'miapp/home.html'%}

{% block titulo %}
<div class="masthead-heading text-uppercase">Producto sellados</div>

    {% endblock titulo %}


{% block contenido %}


<button type="button" class="btn btn-secondary"><a href="{% url 'buscar' %}" >buscar </button>
   

<table>
    <tr>
      
        <td>
            <a
            href="{% url 'create_producto' %}"
            class="btn btn-danger btn-sm"
            >Agregue una producto
        </td>
    </tr>
</table>

<div class="container">
    <div class="row">
    {% for p in producto_list %}
  
        <div class="card col-3 " style="width: 18rem;  margin:10px; p-3 mb-2 bg-light-subtle text-light-emphasis">
            <img src="{{ p.fproducto.url }} " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-black" >{{ p.nombre }}</h5>
              <p class="card-text text-black">precio:${{ p.precio }}</p>
              <a
              href="{% url 'update_producto' p.id  %}"
              class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              >Modificar<i class="fa fa-edit fa-sm" title="Edit Record"></i>
            </a>
            <a
              href="{% url 'delete_producto' p.id %}"
              class="btn btn-danger"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              >Borrar<i class="fa fa-trash fa-sm" title="Delete Record"></i>
            </a>
            </div>
          </div>
       
    {% endfor %}
</div>
</div>

{% endblock contenido %}
