{%extends 'miapp/home.html'%}
{% block titulo %}
<div class="masthead-heading text-uppercase">Producto sellados</div>

    {% endblock titulo %}


{% block contenido %}


<button type="button" class="btn btn-secondary"><a href="{%url 'buscar'%}" >buscar </button>
   

<table>
    <tr>
      
        <td>
            <a
            href="{% url 'create_singles' %}"
            class="btn btn-danger btn-sm"
            >Agregue una producto
        </td>
    </tr>
</table>

<table class="table table-striped ">
    <thead>
        <tr>
            <th class="titulo" style="color:white ">Nombre</th>
            <th style="color:white ">precio</th>
            <th style="color:white ">producto</th>
            
            
            
        </tr>
    </thead>
    <tbody>
    {% for p in producto_list %}
    <tr>
        
        <td style="color:white ">{{ p.nombre }}</td>
        <td style="color:white ">{{ p.precio }}</td>
        
        <td ><img src="{{ p.foto.url }} " alt="500px"></td> 

        <td>
            <a
              href="{% url 'update_producto'  p.id  %}"
              class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              >Modificar<i class="fa fa-edit fa-sm" title="Edit Record"></i>
            </a>
            <a
              href="{% url 'delete_producto' p.id %}"
              class="btn btn-danger"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              >Borrar<i class="fa fa-trash fa-sm" title="Delete Record"></i>
            </a>
          </td>        
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}
