
{%extends 'miapp/home.html'%}

{% block titulo %}
<h2>Singles</h2>

{% endblock titulo %}
{% block contenido %}
<table>
    <tr>
      
        <td>
            <a
            href="{% url 'create_singles' %}"
            class="btn btn-danger btn-sm"
            >Agregue una carta  <i class="fa fa-plus fa-lg" title="New Record"> </i>
            </a>
        </td>
    </tr>
</table>

<table class="table table-striped ">
    <thead>
        <tr>
            <th style="color:white ">Nombre</th>
            <th style="color:white ">precio</th>
            <th style="color:white ">cantidad</th>
            
            
            
        </tr>
    </thead>
    <tbody>
    {% for s in singles_list %}
    <tr>
        
        <td style="color:white ">{{ s.nombre }}</td>
        <td style="color:white ">{{ s.precio }}</td>
        <td style="color:white ">{{ s.cantidad }}</td>
     
    

        <td>
            <a
              href="{% url 'update_singles'  s.id  %}"
              class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              >Modificar<i class="fa fa-edit fa-sm" title="Edit Record"></i>
            </a>
            <a
              href="{% url 'delete_singles' s.id %}"
              class="btn btn-danger"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              >Borrar<i class="fa fa-trash fa-sm" title="Delete Record"></i>
            </a>
          </td>        
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}